/*
 * This file is meant to extend the functionality of griddy.
 * To override a default:
 * @use "griddy" with ($variable: <value>);
 */

// Define the default breakpoints.
$xl: 1280px !default;
$lg: 1024px !default;
$md: 768px !default;
$sm: 640px !default;

// Define the base value for spacing.
$spacer: 1em !default;

// Define your own custom colors by adding them to the map.
$custom-colors: (
  // "coolcustomcolor": #123456,
    // "anothercolor": rgba(100, 125, 125, .5),
) !default;
