/*
 * This file is meant to extend the functionality of griddy.
 * To override a default:
 * @use "griddy" with ($variable: <value>);
 */

// Define the default breakpoints or add your own.
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;

// Define the base value for spacing.
$spacer: 1rem !default;

// Define your own custom colors by adding them to the map.
// e.g. "coolcustomcolor": #123456
$custom-colors: () !default;
