@use "../../src/border" as *;

@include describe("Border module") {
  @include it("sets the border class") {
    @include assert {
      @include output {
        @include border;
      }
      @include contains {
        &-inset {
          border-width: 1px;
          border-style: inset;
          border-color: black;
        }
      }
    }
  }

  @include it("includes border-width classes") {
    @include assert {
      @include output {
        @include border;
      }
      @include contains {
        &-10 {
          border-width: 10px;
        }
      }
    }
  }

  @include it("includes border-color classes") {
    @include assert {
      @include output {
        @include border;
      }
      @include contains {
        &-aquamarine {
          border-color: aquamarine;
        }
      }
    }
  }

  @include it("works with custom colors") {
    @include assert {
      @include output {
        @include border;
      }
      @include contains {
        &-konpeki {
          border-color: rgb(52, 108, 202);
        }
      }
    }
  }
}
