@use "../../src/border" as *;

@include describe("Border mixin") {
  @include it("sets the border class correctly on given inputs") {
    @include assert {
      @include output {
        @include border($w: 12px, $style: dotted, $color: green);
      }
      @include contains {
        border-width: 12px;
        border-style: dotted;
        border-color: green;
      }
    }
  }
}
