@use "../../src/container" as *;
@use "../../user.config" as user;

@include describe("Container mixin") {
  @include it("sets all the base container classes") {
    @include assert {
      @include output {
        @include container;
      }
      @include expect {
        & {
          max-width: 100%;
        }
        &-sm {
          max-width: map-get(user.$breakpoints, "sm");
        }
        &-md {
          max-width: map-get(user.$breakpoints, "md");
        }
        &-lg {
          max-width: map-get(user.$breakpoints, "lg");
        }
        &-xl {
          max-width: map-get(user.$breakpoints, "xl");
        }
      }
    }
  }
}
