@use "../../src/grid" as *;
@use "../../user.config" as user;

@include describe("Grid mixin") {
  @include it("sets the cols classes") {
    @include assert {
      @include output {
        @include grid;
      }
      @include contains {
        &-cols-6 {
          grid-template-columns: repeat(6, 1fr);
        }
      }
    }
  }
  @include it("sets the rows classes") {
    @include assert {
      @include output {
        @include grid;
      }
      @include contains {
        &-rows-10 {
          grid-template-rows: repeat(10, minmax(0, 1fr));
        }
      }
    }
  }
  @include it("sets the col-span classes") {
    @include assert {
      @include output {
        @include grid;
      }
      @include contains {
        &-col-span-4 {
          grid-column: span 4 / span 4;
        }
      }
    }
  }
  @include it("sets the row-span classes") {
    @include assert {
      @include output {
        @include grid;
      }
      @include contains {
        &-flow-col-dense {
          grid-auto-flow: column dense;
        }
      }
    }
  }
}

@include describe("Order mixin") {
  @include it("sets all the order classes") {
    @include assert {
      @include output {
        @include order;
      }
      @include contains {
        &-4 {
          order: 4;
        }
        &-5 {
          order: 5;
        }
        &-6 {
          order: 6;
        }
        &-7 {
          order: 7;
        }
      }
    }
  }
}

@include describe("Gap mixin") {
  @include it("sets all the gap classes") {
    @include assert {
      @include output {
        @include gap;
      }
      @include expect {
        &-0 {
          gap: 0;
        }
        &-1 {
          gap: user.$spacer * 0.25;
        }
        &-2 {
          gap: user.$spacer * 0.5;
        }
        &-3 {
          gap: user.$spacer;
        }
        &-4 {
          gap: user.$spacer * 1.5;
        }
        &-5 {
          gap: user.$spacer * 3;
        }
      }
    }
  }
}
