@use "../../src/margin" as *;
@use "../../user.config" as user;

@include describe("Margin mixin") {
  @include it("sets the margin classes") {
    @include assert {
      @include output {
        @include margin("all");
      }
      @include contains {
        &-3 {
          margin: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("x");
      }
      @include contains {
        &-3 {
          margin-left: user.$spacer;
          margin-right: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("y");
      }
      @include contains {
        &-3 {
          margin-top: user.$spacer;
          margin-bottom: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("t");
      }
      @include contains {
        &-3 {
          margin-top: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("r");
      }
      @include contains {
        &-3 {
          margin-right: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("b");
      }
      @include contains {
        &-3 {
          margin-bottom: user.$spacer;
        }
      }
    }
    @include assert {
      @include output {
        @include margin("l");
      }
      @include contains {
        &-3 {
          margin-left: user.$spacer;
        }
      }
    }
  }
}
