@use "color-names" as c;
@use "../user.config" as user;

@mixin border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  &-0 {
    border: none;
  }
  &-dashed {
    border-width: 1px;
    border-style: dashed;
    border-color: black;
  }
  &-dotted {
    border-width: 1px;
    border-style: dotted;
    border-color: black;
  }
  &-inset {
    border-width: 1px;
    border-style: inset;
    border-color: black;
  }
  @for $i from 1 through 10 {
    &-#{$i} {
      border-width: #{$i}px;
    }
  }
  @each $color in c.$colors {
    &-#{"" + $color} {
      border-color: $color;
    }
  }
  @each $name, $val in user.$custom-colors {
    &-#{$name} {
      border-color: $val;
    }
  }
}

@mixin radius {
  border-radius: 0.5rem;

  &-sm {
    border-radius: 0.125rem;
  }
  &-md {
    border-radius: 0.25rem;
  }
  &-lg {
    border-radius: 0.75rem;
  }
  &-xl {
    border-radius: 1rem;
  }
  &-circle {
    border-radius: 9999px;
  }
}

.border {
  @include border();
}
@each $label, $breakpoint in user.$breakpoints {
  .#{$label}\:border {
    @media screen and (max-width: $breakpoint) {
      @include border();
    }
  }
}

.rounded {
  @include radius();
}
@each $label, $breakpoint in user.$breakpoints {
  .#{$label}\:rounded {
    @media screen and (min-width: $breakpoint) {
      @include radius();
    }
  }
}
