@use "color-names" as c;
@use "../user.config" as user;

.bg {
  @each $color in c.$colors {
    &-#{"" + $color} {
      background-color: $color;
    }
  }

  @each $name, $val in user.$custom-colors {
    &-#{$name} {
      background-color: $val;
    }
  }
}

.hover\:bg {
  @each $color in c.$colors {
    &-#{"" + $color}:hover {
      background-color: $color;
    }
  }

  @each $name, $val in user.$custom-colors {
    &-#{$name}:hover {
      background-color: $val;
    }
  }
}

.text {
  @each $color in c.$colors {
    &-#{"" + $color} {
      color: $color;
    }
  }

  @each $name, $val in user.$custom-colors {
    &-#{$name} {
      color: $val;
    }
  }
}

.hover\:text {
  @each $color in c.$colors {
    &-#{"" + $color}:hover {
      color: $color;
    }
  }

  @each $name, $val in user.$custom-colors {
    &-#{$name}:hover {
      color: $val;
    }
  }
}
