@use "../user.config" as user;
@use "utilities" as utils;
@use "color-names" as c;

.bg {
  @each $color in c.$colors {
    &-#{"" + $color} {
      @include utils.add-pseudo-classes-with-breakpoints(
        &,
        "hover",
        "active",
        "visited",
        "focus",
        "disabled"
      ) {
        background-color: $color;
      }
    }
  }
  @each $name, $val in user.$custom-colors {
    &-#{$name} {
      @include utils.add-pseudo-classes-with-breakpoints(
        &,
        "hover",
        "active",
        "visited",
        "focus",
        "disabled"
      ) {
        background-color: $val;
      }
    }
  }
}

.text {
  @each $color in c.$colors {
    &-#{"" + $color} {
      @include utils.add-pseudo-classes-with-breakpoints(
        &,
        "hover",
        "active",
        "visited",
        "focus",
        "disabled"
      ) {
        color: $color;
      }
    }
  }
  @each $name, $val in user.$custom-colors {
    &-#{$name} {
      @include utils.add-pseudo-classes-with-breakpoints(
        &,
        "hover",
        "active",
        "visited",
        "focus",
        "disabled"
      ) {
        color: $val;
      }
    }
  }
}
