@use "../user.config" as user;
@use "utilities" as utils;
@use "color-names" as c;

@mixin extend-class {
  @include utils.add-pseudo-classes(
    &,
    "hover",
    "active",
    "visited",
    "focus",
    "disabled"
  ) {
    @content;
  }
}

.bg {
  @include utils.add-breakpoints(&) {
    @each $color in c.$colors {
      &-#{"" + $color} {
        @include extend-class() {
          background-color: $color;
        }
      }
      @each $name, $val in user.$custom-colors {
        &-#{$name} {
          @include extend-class() {
            background-color: $val;
          }
        }
      }
    }
  }
}

.text {
  @include utils.add-breakpoints(&) {
    @each $color in c.$colors {
      &-#{"" + $color} {
        @include extend-class() {
          color: $color;
        }
      }
    }
    @each $name, $val in user.$custom-colors {
      &-#{$name} {
        @include extend-class() {
          color: $val;
        }
      }
    }
  }
}
