@use "../user.config" as user;
@use "utilities" as utils;

@mixin justify-align-content($prop) {
  &-start {
    #{$prop}-content: flex-start;
  }
  &-end {
    #{$prop}-content: flex-end;
  }
  &-center {
    #{$prop}-content: center;
  }
  &-around {
    #{$prop}-content: space-around;
  }
  &-between {
    #{$prop}-content: space-between;
  }
  &-evenly {
    #{$prop}-content: space-evenly;
  }
}

@mixin justify-align-items($prop, $item: "items") {
  &-stretch {
    #{$prop}-#{$item}: stretch;
  }
  &-start {
    #{$prop}-#{$item}: flex-start;
  }
  &-end {
    #{$prop}-#{$item}: flex-end;
  }
  &-center {
    #{$prop}-#{$item}: center;
  }
  &-baseline {
    #{$prop}-#{$item}: baseline;
  }
}

.flex {
  @include utils.add-breakpoints(&) {
    display: flex;
    flex-direction: row;
    &-column {
      display: flex;
      flex-direction: column;
    }
    &-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
    &-column-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.wrap {
  @include utils.add-breakpoints(&) {
    flex-wrap: wrap;
    &-none {
      flex-wrap: nowrap;
    }
    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }
}

.justify-content {
  @include utils.add-breakpoints(&) {
    @include justify-align-content("justify");
  }
}

// This align-content classes actually belong to the grid module.
// They are included here for brevity's sake.
.align-content {
  @include utils.add-breakpoints(&) {
    @include justify-align-content("align");
  }
}

.align-items {
  @include utils.add-breakpoints(&) {
    @include justify-align-items("align");
  }
}

// This justify-items classes actually belong to the grid module.
// They are included here for brevity's sake.
.justify-items {
  @include utils.add-breakpoints(&) {
    @include justify-align-items("justify");
  }
}

.align-self {
  @include utils.add-breakpoints(&) {
    @include justify-align-items("align", "self");
  }
}

// This justify-self classes actually belong to the grid module.
// They are included here for brevity's sake.
.justify-self {
  @include utils.add-breakpoints(&) {
    @include justify-align-items("justify", "self");
  }
}
