@use "../user.config" as user;

.grid {
  display: grid;

  @for $i from 0 through 12 {
    &-cols-#{$i} {
      @if $i == 0 {
        grid-template-columns: none;
      } @else {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
    &-rows-#{$i} {
      @if $i == 0 {
        grid-template-rows: none;
      } @else {
        grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
      }
    }
  }
}

.container {
  max-width: 100%;
  @each $key, $val in (xl: user.$xl, lg: user.$lg, md: user.$md, sm: user.$sm) {
    &-#{$key} {
      max-width: $val;
    }
  }
}

.order {
  @for $i from 1 through 12 {
    &-#{$i} {
      order: $i;
    }
  }
}

$gap-values: (
  0: 0,
  1: user.$spacer * 0.25,
  2: user.$spacer * 0.5,
  3: user.$spacer,
  4: user.$spacer * 1.5,
  5: user.$spacer * 3,
);
@each $key, $val in $gap-values {
  .gap-#{$key} {
    gap: $val;
  }
}
