@use "../user.config" as user;
@use "utilities" as utils;

@mixin margin($dimension) {
  $margin-values: (
    0: 0,
    1: user.$spacer * 0.25,
    2: user.$spacer * 0.5,
    3: user.$spacer,
    4: user.$spacer * 1.5,
    5: user.$spacer * 3,
    auto: auto,
  );
  @each $key, $val in $margin-values {
    &-#{$key} {
      @if $dimension == "all" {
        margin: $val;
      } @else if $dimension == "x" {
        margin-left: $val;
        margin-right: $val;
      } @else if $dimension == "y" {
        margin-top: $val;
        margin-bottom: $val;
      } @else if $dimension == "t" {
        margin-top: $val;
      } @else if $dimension == "r" {
        margin-right: $val;
      } @else if $dimension == "b" {
        margin-bottom: $val;
      } @else if $dimension == "l" {
        margin-left: $val;
      }
    }
  }
}

.m {
  @include utils.add-breakpoints(&) {
    @include margin("all");
  }
}

.mx {
  @include utils.add-breakpoints(&) {
    @include margin("x");
  }
}

.my {
  @include utils.add-breakpoints(&) {
    @include margin("y");
  }
}

.mt {
  @include utils.add-breakpoints(&) {
    @include margin("t");
  }
}

.mr {
  @include utils.add-breakpoints(&) {
    @include margin("r");
  }
}

.mb {
  @include utils.add-breakpoints(&) {
    @include margin("b");
  }
}

.ml {
  @include utils.add-breakpoints(&) {
    @include margin("l");
  }
}
