@use "../user.config" as user;

$margin-values: (
  0: 0,
  1: user.$spacer * 0.25,
  2: user.$spacer * 0.5,
  3: user.$spacer,
  4: user.$spacer * 1.5,
  5: user.$spacer * 3,
  auto: auto,
);

.m {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin: $val;
    }
  }
}

.mx {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-left: $val;
      margin-right: $val;
    }
  }
}

.my {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-top: $val;
      margin-bottom: $val;
    }
  }
}

.mt {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-top: $val;
    }
  }
}

.mb {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-bottom: $val;
    }
  }
}

.ml {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-left: $val;
    }
  }
}

.mr {
  @each $key, $val in $margin-values {
    &-#{$key} {
      margin-right: $val;
    }
  }
}
