@use "../user.config" as user;
@use "utilities" as utils;

@mixin padding($dimension) {
  $padding-values: (
    0: 0,
    1: user.$spacer * 0.25,
    2: user.$spacer * 0.5,
    3: user.$spacer,
    4: user.$spacer * 1.5,
    5: user.$spacer * 3,
  );
  @each $key, $val in $padding-values {
    &-#{$key} {
      @if $dimension == "all" {
        padding: $val;
      } @else if $dimension == "x" {
        padding-left: $val;
        padding-right: $val;
      } @else if $dimension == "y" {
        padding-top: $val;
        padding-bottom: $val;
      } @else if $dimension == "t" {
        padding-top: $val;
      } @else if $dimension == "r" {
        padding-right: $val;
      } @else if $dimension == "b" {
        padding-bottom: $val;
      } @else if $dimension == "l" {
        padding-left: $val;
      }
    }
  }
}

.p {
  @include utils.add-breakpoints(&) {
    @include padding("all");
  }
}

.px {
  @include utils.add-breakpoints(&) {
    @include padding("x");
  }
}

.py {
  @include utils.add-breakpoints(&) {
    @include padding("y");
  }
}

.pt {
  @include utils.add-breakpoints(&) {
    @include padding("t");
  }
}

.pr {
  @include utils.add-breakpoints(&) {
    @include padding("r");
  }
}

.pb {
  @include utils.add-breakpoints(&) {
    @include padding("b");
  }
}

.pl {
  @include utils.add-breakpoints(&) {
    @include padding("l");
  }
}
