@use "utilities" as utils;

@mixin extend-class {
  @include utils.add-pseudo-classes(&, "hover", "active", "focus", "disabled") {
    @content;
  }
}

.shadow {
  @include utils.add-breakpoints(&) {
    @include extend-class() {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &-0 {
      @include extend-class() {
        box-shadow: none;
      }
    }
    &-sm {
      @include extend-class() {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      }
    }
    &-md {
      @include extend-class() {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
          0 2px 4px -1px rgba(0, 0, 0, 0.12);
      }
    }
    &-lg {
      @include extend-class() {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
          0 4px 6px -2px rgba(0, 0, 0, 0.12);
      }
    }
    &-xl {
      @include extend-class() {
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
          0 10px 10px -5px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
