@use "../user.config" as user;
@use "utilities" as utils;

@mixin extend-class {
  @include utils.add-pseudo-classes(
    &,
    "hover",
    "active",
    "visited",
    "focus",
    "disabled"
  ) {
    @content;
  }
}

.align {
  @include utils.add-breakpoints(&) {
    &-left,
    &-start {
      text-align: left;
      text-align: start;
    }
    &-right,
    &-end {
      text-align: right;
      text-align: end;
    }
    &-center {
      text-align: center;
    }
    &-justify {
      text-align: justify;
    }
  }
}

.weight {
  @include utils.add-breakpoints(&) {
    &-bolder {
      @include extend-class() {
        font-weight: 900;
      }
    }
    &-bold {
      @include extend-class() {
        font-weight: 700;
      }
    }
    &-regular {
      @include extend-class() {
        font-weight: 400;
      }
    }
    &-light {
      @include extend-class() {
        font-weight: 200;
      }
    }
    &-lighter {
      @include extend-class() {
        font-weight: 100;
      }
    }
  }
}

.style {
  @include utils.add-breakpoints(&) {
    &-normal {
      @include extend-class() {
        font-style: normal;
      }
    }
    &-italic {
      @include extend-class() {
        font-style: italic;
      }
    }
    &-oblique {
      @include extend-class() {
        font-style: oblique;
      }
    }
  }
}

.variant {
  @include utils.add-breakpoints(&) {
    &-normal {
      @include extend-class() {
        font-variant: normal;
      }
    }
    &-caps {
      @include extend-class() {
        font-variant: small-caps;
      }
    }
  }
}

.decoration {
  @include utils.add-breakpoints(&) {
    &-none {
      @include extend-class() {
        text-decoration: none;
      }
    }
    &-underline {
      @include extend-class() {
        text-decoration: underline;
      }
    }
    &-strikethrough {
      @include extend-class() {
        text-decoration: line-through;
      }
    }
  }
}
