.align {
  &-left,
  &-start {
    text-align: left;
    text-align: start;
  }
  &-right,
  &-end {
    text-align: right;
    text-align: end;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}

.font-weight {
  &-bolder {
    font-weight: 900;
  }
  &-bold {
    font-weight: 700;
  }
  &-regular {
    font-weight: 400;
  }
  &-light {
    font-weight: 200;
  }
  &-lighter {
    font-weight: 100;
  }
}

.hover\:font-weight {
  &-bolder:hover {
    font-weight: 900;
  }
  &-bold:hover {
    font-weight: 700;
  }
  &-regular:hover {
    font-weight: 400;
  }
  &-light:hover {
    font-weight: 200;
  }
  &-lighter:hover {
    font-weight: 100;
  }
}

.style {
  &-0 {
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
  }
  &-italic {
    font-style: italic;
  }
  &-oblique {
    font-style: oblique;
  }
  &-caps {
    font-variant: small-caps;
  }
  &-underline {
    text-decoration: underline;
  }
  &-strikethrough {
    text-decoration: line-through;
  }
}

.hover\:style {
  &-0:hover {
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
  }
  &-italic:hover {
    font-style: italic;
  }
  &-oblique:hover {
    font-style: oblique;
  }
  &-caps:hover {
    font-variant: small-caps;
  }
  &-underline:hover {
    text-decoration: underline;
  }
  &-strikethrough:hover {
    text-decoration: line-through;
  }
}
