.align {
  &-left,
  &-start {
    text-align: left;
    text-align: start;
  }
  &-right,
  &-end {
    text-align: right;
    text-align: end;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}
